@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {overflow:visible;border:0 none;background-color:transparent;cursor:pointer;vertical-align:top}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'NanumGothic', "맑은 고딕", Malgun Gothic, '돋움', dotum, sans-serif;color:#555}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
img,iframe {vertical-align:top}
textarea {resize:vertical}

body {-webkit-text-size-adjust:none}
.screen_hide {font-size:0;line-height:0;visibility:hidden}
.tbl {border-collapse:collapse;border-spacing:0}
.inp_comm {border:1px solid #cfcfd3}

.btn_type3 {display:inline-block;padding:13px 21px 12px;border:0 none;border-radius:2px;font-weight:bold;font-size:14px;line-height:14px;background-color:#a4a4a4;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top}
.btn_type4 {display:inline-block;padding:12px 21px 11px;border:1px solid #d2d2d2;border-radius:3px;font-weight:bold;font-size:14px;line-height:14px;background-color:#fff;color:#101010;box-shadow:inset -1px -1px 0 #f7f7f7;-webkit-box-shadow:inset -1px -1px 0 #f7f7f7;text-decoration:none !important;vertical-align:top}

.board_write_type2 {border-top:1px solid #999}
.board_write_type2 .tbl_write {width:100%;border-bottom:1px solid #c9c9c9;table-layout:fixed}
.board_write_type2 .tbl_write tr:first-child th,
.board_write_type2 .tbl_write tr:first-child td {border-top:0}
.board_write_type2 .tbl_write th {height:47px;text-indent:10px;border-top:1px solid #e4e4e5;border-left:1px solid #e4e4e5;border-right:1px solid #e4e4e5;background-color:#f3f7fa;text-align:left}
.board_write_type2 .tbl_write th:first-child {border-left:0 none}
.board_write_type2 .tbl_write td {padding:5px 0 5px 10px;border-top:1px solid #e4e4e5}

.pro_doctor_info {padding:29px}
.pro_doctor_info .inp_comm {float:left;height:30px;margin-right:4px;padding:0 0 0 10px;line-height:30px}
.pro_doctor_info .btn_type3 {padding:11px 14px 9px;background-color:#adb3be;font-size:12px;line-height:1}
.pro_doctor_info .btn_type4 {padding:11px 14px 9px;background-color:#fff;font-size:12px;line-height:1}
.pro_doctor_info .board_write_type2 .tbl_write td {padding:10px 20px}
.pro_doctor_info .board_write_type2 .tbl_write th {width:149px;padding-left:20px;text-indent:0}
.pro_doctor_info .board_write_type2 .tbl_write .update_agree {padding:10px 0 4px;clear:both}
.pro_doctor_info .detail_info {margin-top:40px}
.pro_doctor_info .detail_info .tbl_write .col1 {width:149px}
.pro_doctor_info .detail_info .tbl_write .col2 {width:auto}
.pro_doctor_info .detail_info .list_clinic {overflow:hidden;width:100%}
.pro_doctor_info .detail_info .career {overflow:hidden;width:100%}
.pro_doctor_info .btn_career_add {margin-left:64px}
